<div class="footer">
    <br><hr>
    <div class="container">
    <ul id="socials" class="alignable pull-left socials-ul">
        <li class="alignable socials-list">
        <a href="https://github.com/uzairakbar">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/github240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable socials-list">
        <a href="https://www.linkedin.com/in/uzair25/">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/linkedin240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable socials-list">
        <a href="https://x.com/uzairakbar25">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/twitter240.png" height="20" width="20"></a>
        </a>
        </li>
        <!-- <li class="alignable socials-list">
        <a href="#">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/instagram240.png" height="20" width="20"></a>
        </a>
        </li> -->
        <li class="alignable socials-list">
        <a href="https://www.youtube.com/@CalisthenicsLog">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/youtube240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable socials-list">
        <a href="https://scholar.google.de/citations?user=HQgbKUgAAAAJ&hl=en">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.social_icons }}/gscholar240.png" height="20" width="20"></a>
        </a>
        </li>
    </ul>
    <p id="copyright" class="alignable pull-right">Copyright &copy; {{ 'now' | date: "%Y" }} <a href="{{ site.footer_url }}" style="color: black">{{ site.footer_text }}</a> | Theme Credits to <a href="https://www.xuningyang.com">Xuning Yang</a></p>
    </div>
    <div style="clear:both"></div>
</div>