<div class="footer">
    <br><hr>
    <ul id="socials" class="alignable pull-left">
        <li class="alignable pull-right">
        <a href="https://github.com/uzairakbar">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/github240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable pull-right">
        <a href="https://www.linkedin.com/in/uzair25/">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/linkedin240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable pull-right">
        <a href="https://x.com/uzairakbar25">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/twitter240.png" height="20" width="20"></a>
        </a>
        </li>
        <!-- <li class="alignable pull-right">
        <a href="LINK">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/instagram240.png" height="20" width="20"></a>
        </a>
        </li>
        <li class="alignable pull-right">
        <a href="LINK">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/youtube240.png" height="20" width="20"></a>
        </a>
        </li> -->
        <li class="alignable pull-right">
        <a href="https://scholar.google.de/citations?user=HQgbKUgAAAAJ&hl=en">
            <img class="socialicon" src="{{ site.baseurl }}/{{ site.socials_icons }}/gscholar240.png" height="20" width="20"></a>
        </a>
        </li>
    </ul>
    <div class="alignable pull-right">Copyright &copy; {{ 'now' | date: "%Y" }} <a href="{{ site.footer_url }}" style="color: black">{{ site.footer_text }}</a> | Theme Credits to <a href="https://www.xuningyang.com">Xuning Yang</a></div>
</div>