<!-- <div class="fixed-topbar"> -->
<div class="navbar container">
      <!-- Updated Title Link (Request #2) -->
      <a id="site-title" class="alignable pull-left" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <br/>
      <p id="site-subtitle" class="alignable pull-left" >{{ site.subtitle }}</p>
    <ul id="navlist" class="alignable pull-right navbar-ul">
        {% for x in site.navbar %}
        <li class="alignable pull-left navbar-list">
          {% if x.name == "github" %}
              <a href="{{ x.link }}">{{ x.name }}</a>
          {% else %}
              <!-- Updated Link Logic (Request #1) -->
              <a href="{{ x.link }}" {% if x.new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ x.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
    </ul>

</div>
<div style="clear:both"></div>

<hr>
<!-- </div> -->